.card {
  width: 350px;
  height: 277px;
  flex-shrink: 0;
}

.card-description {
  padding: 20px;
  background: #fff;
}

.card-name {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.card-local {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
